<% if current_user %>
	<%=image_tag asset_path("Home.jpg"), class: "homeimg" %>
<% else %>
	<div class="colone">
		<h2>Sign In</h2>
		<div class="formdiv">
			<%= form_tag do %>
				<%=label_tag :email, "Email" %>
				<br>
				<%= text_field_tag :email %>
				<br>
				<%= label_tag :password, "Password" %>
				<br>
				<%= password_field_tag :password %>
				<br><br>
				<%= label_tag :remember_me %>
				<%= check_box_tag :remember_me, 1, params[:remember_me] %>
				<br><br>
				<%= link_to "Forgot password?", new_password_reset_path, class: "colorlink" %>
				<br><br>
				<%= submit_tag "Sign In", class: "submit", data: {disable_with: "Submitting..."} %>
			<% end %>
		</div>
	</div>
	<div class="coltwo">
		<div id="landing-description">
			A place for small business owners and independent designers to keep track of their product inventory, locations, online listings, and sales.
			<br>
		</div>
		<div id="sign-up-div">
			<%= link_to new_user_path, class: "colorlink" do %>
				<button id="signup">Sign Up</button>
			<% end %>
		</div>
	</div>
	<div class="clear">
	</div>
<% end %>