<% if current_user.id == @user.id || current_user.admin == true%>
	<h2>Update Password</h2>

	 <% if @user.errors.full_messages.any? %>
        <ul class="errormessages">
          <% @user.errors.full_messages.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      <% end %>

	<div class="formdiv">
		<%=form_for @user do |f| %>
			 <%= f.label :password %>
	        <br> 
	        <%= f.password_field :password %>
	        <br>
	        <%= f.label :password_confirmation %>
	        <br>
	        <%= f.password_field :password_confirmation %>
	        <br>
	        <%= submit_tag "Update", class: "submit", data: {disable_with: "Submitting..."} %>
		<% end %>
	</div>
<% end %>