<% if current_user.id == @user.id || current_user.admin == true%>
	<h2>Update Password</h2>

	 <% if @user.errors.full_messages.any? %>
        <ul class="errormessages">
          <% @user.errors.full_messages.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      <% end %>

	<div class="formdiv">
		<%=form_tag "/users/#{@user.id}/password", method: "get" do %>
			<%= label_tag :current_password, "Current Password" %>
			<br>
			<%= text_field_tag :current_password %>
			<br>
			<%= label_tag :new_password, "New Password" %>
			<br>
			<%= text_field_tag :new_password %>
			<br>
			<%= label_tag :confirm_password, "Confirm Password" %>
			<br>
			<%= text_field_tag :confirm_password %>
			<br>
			<%= submit_tag "Update", class: "submit", data: {disable_with: "Submitting..."} %>
		<% end %>
	</div>
<% end %>