<% if current_user.id == @user.id || current_user.admin == true %>

	<h3>Add a Tag for <%= link_to @product.name, user_category_product_path(@user.id, @category.id, @product.id), class: "colorlink" %></h3>

		<% if @tag.errors.full_messages.any? %>
			<ul class="errormessages">
				<% @tag.errors.full_messages.each do |error| %>
					<li>
						<%= error %>
					</li>
				<% end %>
			</ul>
		<% end %>

		<div class="formdiv">
			<%= form_for [@user, @category, @product, @tag] do |f| %>
				<%= f.label :name, "Name" %>
				<br>
				<%= f.text_field :name %>
				<%=f.submit "Submit", :class => "submit", data: {disable_with: "Submitting..."} %>
			<% end %>
		</div>

<% end %>
