<% if current_user.id == @user.id || current_user.admin == true %>
	
	<span class="color"><h2> Sold Out <%=@category.name%> </h2></span>
	<% if @products.first %>
		<% @products.reverse.each do |product| %>
				<%= link_to product.name, user_category_product_path(@user.id, product.category.id, product.id) %>
				<br>
				<%= image_tag product.image.url(:medium), class: "smallproduct" %>
				<br><br>
			<% end %>
		<%= paginate @products %>
	<% else %>
		There are currently no sold out <%= @category.name %>.
	<% end %>

<% end %>