<% if current_user.id == @user.id || current_user.admin == true %>

	<h3>Add a Product to <%= link_to @category.name, user_category_path(@user.id, @category.id), class: "colorlink" %></h3>

		<% if @product.errors.full_messages.any? %>
			<ul class="errormessages">
				<% @product.errors.full_messages.each do |error| %>
					<li>
						<%= error %>
					</li>
				<% end %>
			</ul>
		<% end %>

		<div class="formdiv">
			<%= form_for [@user, @category, @product], :url => user_category_products_path(@user.id, @category.id), :html => { :multipart => true } do |f| %>
				<%= f.label :name, "Name" %>
				<br>
				<%= f.text_field :name %>
				<br>
				<%= f.label :color, "Color" %>
				<br>
				<%= f.text_field :color %>
				<br>
				<%= f.label :material, "Material" %>
				<br>
				<%= f.text_field :material %>
				<br>
				<%= f.label :material, "Size" %>
				<br>
				<%= f.text_field :size %>
				<br>
				<%= f.label :measurements, "Measurements" %>
				<br>
				<%= f.text_area :measurements%>
				<br>
				<%= f.label :material, "Description" %>
				<br>
				<%= f.text_area :description %>
				<br>
				<%= f.label :price, "Price" %>
				<br>
				<%= f.text_field :price %>
				<br>
				<%= f.label :inventory, "Amount in Stock" %>
				<br>
				<%= f.text_field :inventory %>
				<br>
				<%= f.label :soldout, "Sold Out" %>
				<br>
				<%= f.check_box :soldout %>
				<br>
				<%= f.label :image, "Upload Image" %>
				<br>
				<span class="color">Square images of a width between 400px and 1000px wide render best</span>
				<br>
				<%= f.file_field :image %>
				<br>
				<%= f.submit "Submit", :class => "submit", data: {disable_with: "Submitting..."} %>
			<% end %>
		</div>

<% end %>